@model TestControlTool.Web.Models.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_BootstrapLayout.empty.cshtml";
}

@using (Html.BeginForm("ChangePassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin" }))
{
    <div style="width: 50%; float: left; border-right: solid 1px darkgray">
        <h2 class="form-signin-heading">TestControlTool</h2>
        <div style="color: darkgray">
            Test Control Tool allows you to use UI and Backend automated testing in an easy and comfortable way.
        </div>
    </div>
    <div style="margin-left: 55%; horiz-align: right">
        @Html.AntiForgeryToken()

        <h2 class="form-signin-heading">Change Password</h2>

        @Html.PasswordFor(m => m.OldPassword, new { @class = "input-block-level", placeholder = "Old password" })
        <div class="text-left text-error">
            <p>@Html.ValidationMessageFor(m => m.OldPassword)</p>
        </div>

        @Html.PasswordFor(m => m.NewPassword, new { @class = "input-block-level", placeholder = "New Password" })
        <div class="text-left text-error">
            <p>@Html.ValidationMessageFor(m => m.NewPassword)</p>
        </div>

        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-block-level", placeholder = "Confirm Password" })
        <div class="text-left text-error">
            <p>@Html.ValidationMessageFor(m => m.ConfirmPassword)</p>
        </div>

        <p>
            <button class="btn btn-large btn-primary" type="submit">Change</button></p>

        <div class="text-left text-error">
            <p>@Html.ValidationSummary(true)</p>
        </div>
    </div>
}
