@using BootstrapSupport
@using TestControlTool.Web.Models
@using TestControlTool.Web.BootstrapSupport.HtmlHelpers
@model ServerModel
@{
    ViewBag.Title = "Server details";
}
<fieldset>
    <legend>@Model.GetLabel() <small>Details</small></legend>
    <dl> <!-- use this class on the dl if you want horizontal styling http://twitter.github.com/bootstrap/base-css.html#typography  class="dl-horizontal"-->     
        @foreach(var property in Model.VisibleProperties(ServerModel.NotShownProperties))
        {
            <dt>
                @property.GetLabel().ToSeparatedWords()
            </dt>
            <dd>
                @Html.Display(property.Name, true)              
            </dd>
        }
    </dl>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", "Server", Model.GetIdValue(), null) |
    @Html.ActionLink("Back to List", "Servers", "Home")
</p>
<script type="text/javascript">
    ShowMachines();
</script>