@using BootstrapSupport
@using TestControlTool.Web.BootstrapSupport.HtmlHelpers
@using TestControlTool.Web.Models
@model ServerModel
@{
    ViewBag.Title = "Edit server";
}

@Scripts.Render("~/bundles/jqueryval")

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset class="form-horizontal">
        <legend>@Model.GetLabel() <small>Details</small></legend>
        @foreach (var property in Model.VisibleProperties(ServerModel.NotShownProperties))
        {
            using(Html.ControlGroupFor(property.Name)){
                @Html.Label(property.GetLabel(), new { @class = "control-label" })
                 <div class="controls">
                     @if (property.PropertyType.IsEnum)
                     {
                         @Html.EnumDropDownListFor(x => x.Type)
                     }else
                     {
                       @Html.Editor(property, null, new { @class = "input-xlarge" })
                     }
                     @Html.ValidationMessage(property.Name, null, new { @class = "help-inline" })
                 </div>
            }
        }
        @foreach(var property in Model.HiddenProperties(ServerModel.NotShownProperties))
        {
            @Html.Editor(property.Name)
        }
		<div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            @Html.ActionLink("Cancel", "Servers", "Home", null, new { @class = "btn " })
          </div>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Servers", "Home")
</div>
<script type="text/javascript">
    ShowMachines();
</script>