@using BootstrapSupport
@using BootstrapSupport.HtmlHelpers
@using TestControlTool.Core.Implementations
@using TestControlTool.Core.Models
@using TestControlTool.Web.Controllers
@using TestControlTool.Web.Models
@model IEnumerable<MachineModel>  
@{
    ViewBag.Title = "Machines list";
    Html.RenderPartial("MachineConfiguratingModal", new MachineConfigurationModel());
}
<div id="alertArea" style="display: none;"></div>
<h4>Machines</h4>
<table class="table table-striped">
    <caption></caption>
    <thead>
        <tr>
            @foreach (var property in Model.VisiblePropertiesFromList(MachineModel.ShownProperties))
            {
                <th>
                    @property.GetLabel().ToSeparatedWords()
                </th>
            }
            <th></th>
        </tr>
    </thead>
    @{ int index = 0; }
    @foreach (var machineModel in Model)
    {
        ViewData[index.ToString()] = machineModel;
        <tr>
            @foreach (var property in machineModel.VisiblePropertiesFromList(MachineModel.ShownProperties))
            {
                <td>
                    @Html.Link(property, property.GetValue(machineModel), new { Id = machineModel.Id })
                </td>                    
            }
            <td>
                <a href="@Url.Action("Details", "Machine", new { Id = machineModel.Id })" data-toggle="tooltip" title="Details" rel="tooltip"><i class="icon-th-list"></i></a>
            </td>
            <td>
                <a href="@Url.Action("Edit", "Machine", new { Id = machineModel.Id })" data-toggle="tooltip" title="Edit machine" rel="tooltip"><i class="icon-pencil"></i></a>
            </td>
            <td>
                <button rel="tooltip" type='button' class='close' aria-hidden='true' style="float: none" onclick="removeMachine('@machineModel.Id');" title="Delete machine" data-toggle="tooltip">×</button>
            </td>
        </tr>
            index++;
    }

</table>
<p>
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Register Machine<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("Create", "Machine", new { destinationType = VMServerType.HyperV })">Hyper-V</a></li>
            <li><a href="@Url.Action("Create", "Machine", new { destinationType = VMServerType.VCenter })">vCenter</a></li>
        </ul>
    </div>
</p>
<script type="text/javascript">
    function removeMachine(id) {
        window.location.href = '@Url.Action("Delete", "Machine")/' + id;
    }
    
    function showMachineConfiguratingModal() {
        $('#MachineConfiguratingModal').modal('show');
    }
</script>
