@using TestControlTool.Core
@model IEnumerable<Type>

@{
    Layout = null;
    var groupedTypes = Model.GroupBy(x => x.Namespace.Substring(x.Namespace.SpecificIndexOf('.', 2) + 1));
}
<script src="~/Scripts/select2.js"></script>
<link href="~/Content/select2.css" rel="stylesheet" />

<div class="modal hide fade" id="NewTestModal" tabindex="-1" role="dialog" aria-labelledby="New Test" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="NewTestLabel">Add new Test</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label" for="NewTestType">
                Type&nbsp;&nbsp;&nbsp;
                <select id="NewTestType" class="input-xlarge" onchange="loadTestForm();">
                    <option value="-1">Please, select test type</option>

                    @foreach(var category in groupedTypes)
                    {
                        <optgroup label="@category.Key">
                        
                            @foreach (var type in category)
                            {
                                <option value="@type.FullName">@type.Name</option>
                            }

                        </optgroup>
                    }
                </select>
            </label>
        </div>
        <div id="testFormDiv">
        </div>
        <div id="spinner" style="display: none;">
            <img src="@Url.Content("~/Content/images/select2-spinner.gif")"/>
        </div>
        <br />
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <input type="submit" class="btn btn-primary" value="Add" id="AddTestButton" onclick="saveTest();" />
    </div>
</div>

<div style="display: block" id="ListItemsModalDiv"></div>
<div style="display: block" id="DictionaryItemsModalDiv"></div>

<script type="text/javascript">
    /*$('#NewTestType').select2({
           dropdownContainer: $("#NewTestType").closest(".modal")
       });*/

    $('#NewTestModal').on('show', function () {
        /*$("TestSuiteModal").modal('lock');*/
    });

    $('#NewTestModal').on('hidden', function () {
        $('#NewTestLabel').text('Add new Test');
        $('#AddTestButton').val('Add');
        $('#NewTestType').prop('disabled', false);
        $('#NewTestType').val('-1');
        $('#testFormDiv').text('');
        isEditTestModal = false;
        /*$("#TestSuiteModal").modal('unlock');*/
    });

    function loadTestForm() {
        loadTestFormForType($('#NewTestType').val(), function () { });
    }

    function loadTestFormForType(type, callback) {
        if ($('#NewTestType').val() != '-1') {
            $('#testFormDiv').fadeOut('slow', function () {
                $('#spinner').show();
                $('#testFormDiv').load("@Url.Action("TestForm", "Task")", { testName: type, type: suiteType  }, function () {
                    $('#spinner').hide();
                    $('#testFormDiv').fadeIn('slow');
                    callback();
                });
            });
        } else {
            $('#testFormDiv').fadeOut('slow', function () {
                $('#testFormDiv').text('');
                $('#testFormDiv').fadeIn('slow');
                callback();
            });
        }
    }

    function saveTest() {
        if ($('#NewTestType').val() == -1) return false;
        
        if (!isEditTestModal) {
            addNewTest();
        } else {
            editTest();
        }
    }

    function addNewTest() {
        var item = generateItemObject();

        $('#testsList').append(item);

        $('#NewTestModal').modal('hide');
    }

    function editTest() {
        var item = generateItemObject();

        testToEdit.replaceWith(item);

        $('#NewTestModal').modal('hide');
    }
    
    function generateItemObject() {
        var type = $('#NewTestType').val();
        var name = type.split('.').last();

        var jsonObject = getJsonForForm('testFormDiv');

        jsonObject = jsonObject.replace("'", "&#39;");

        var newItem = $("<li testtype='" + type + "' json='" + jsonObject + "'><a href='#' onclick=\"editTestModal(this); return false;\">" + name + "</a><button type='button' class='close' aria-hidden='true' onclick='removeItem(this)'>×</button></li>");

        return newItem;
    }
</script>
