@model TestControlTool.Web.Models.TestSuiteModel
@{
    Layout = null;

    <li id="@Model.Name" type="@Model.Type.ToString()" machine="@Model.Machine" json="@Model.GetJson()">
        <a onclick="editTestSuiteTask(this)" href="#">@Model.Name</a>
        <button type="button" class="close pull-right" aria-hidden="true" onclick="removeItem(this)">×</button>
    </li>
}